.getNumber {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.getNumber button {
  padding: 10px;
  background: linear-gradient(#e66465, #9198e5);
  flex: 1 1 30%;
}
