* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-style: 700;
  transition: 1s;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.getNumber {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;

    display: flex;
    justify-content: center;
    gap: 20px;

    & button {
        padding: 10px;
        background: linear-gradient(#e66465, #9198e5);
        flex: 1 1 30%;
    }
}

.column {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;

    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;

    & button {
        padding: 10px;
        border-radius: 50%;
    }
}

button:hover {
    padding: 15px;
    box-shadow: 2px 2px 4px #000000;
}

